.navigation {
   background-color:  hsl(34, 91%, 56%);
   height: 170px;
   border-radius: 10px;
  
   padding-left: 20px;
   font-size: 30px;
   margin-top: -15px;
   text-decoration: none;
   
}

  h1    {
    font-family: Arial, Helvetica, sans-serif;

    padding-top: 10px;
}

.nav-pills a {  
    float:  right;
    padding-right: 10px;
    font-style: none;
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
   a:hover{
       text-decoration: underline;
   }                                                   

.hero {
    margin-top: 10px;
    padding-left: 450px;
    align-content: center;
    margin-bottom: 0px;    
}

.hero-heading {
     
    text-align: center;
    margin-top: 0px;
    
}


.section1 {
    text-align: center;
   background-color: #FDBA74;
    border-radius:10px;
    padding-top: 5px;
    padding-bottom: 5px;
    align-content: center;
    width: 500px;
    margin-left: 450px;
   margin-bottom: 15px;
}

.section2 {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 500px;
    height: 250px;
    margin-left: 450px;
}

.section2 a {
    padding: 10px;
    color: white;
    background-color: red;
    border-radius: 10px ;
    text-decoration: none;
    
}

.section3 {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 500px;
    height: 250px;
    margin-left: 450px;

}
.section3 a {
    padding: 10px;
    background-color: red;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.feet {
    background-color: #FDBA74;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
    text-decoration: none;
}

.about {
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 10px;

}


.sections {
    text-align: center;
    background-color: whitesmoke;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 10px;
    width: 500px;
  margin-left: 450px;

}

.sections a {
    padding: 10px;
    color: white;
    background-color: tomato;
    border-radius: 5px;
    text-decoration: none;

}

.projects {
    text-align: center;
    background-color: whitesmoke;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 10px;
    width: 500px;
  margin-left: 450px;

}